* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #aecee4;
    font-family: sans-serif, arial;
}

.app {
    position: absolute;
    margin: 10% auto;
    top: 20%;
    left: 25%;
    transform: translate(-20%, -20%);
    min-width: 80%;
    border: 3px solid #d4c0c0;
    text-align: center;
    padding: 50px;
}

.app p {
    margin-bottom: 20px;
    padding: 0 10px 20px;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid rgb(175, 157, 157);
}

.app ul {}

.app ul li {
    padding: 10px;
    font-size: 24px;
    list-style-type: none;
    border-bottom: 1px solid gray;
    line-height: 24px;
}

.app ul li button {
    background-color: #aecee4;
}

.app ul li button i {}

.app button {
    margin: 4% 2%;
    padding: 2px 20px;
    font-size: 20px;
    font-weight: 700;
}